*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #e8e8e8;
}

.content{
    padding: 125px 0 160px 0;
    max-width: 841px;
    margin: 0 auto;
    background-image: url(img/bg.png);
}

.content_top{
    text-align: center;
}
.content_top_category{
    opacity: 0.6;
    color: #273d46;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
   
    text-transform: uppercase;
    letter-spacing: 2.8px;
}

.content_top_title{
    color: #273d46;
    font-size: 36px;
    line-height: 50px;
}
