*{
    margin: 0;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color:antiquewhite;
}
header, footer{
    background-color: rgb(23, 46, 56);
    color: white;
    padding: 30px;
}
hgroup{
    text-align: center;
}
.main{
    flex: 1 0 auto;
    background-color: black;
}
article header{
    box-sizing: border-box;
    
    background-color: black;
    margin: 10px;
    border: 2px solid blue;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}
time{
    float:right;
}
article p{
    color: aliceblue;
    padding: 10px;
    border-bottom: 5px solid;
}