*{
    margin: 0;
}
html, body{
    height: 100%;
}
.wrapper_main{
    height: inherit;
    display: flex;
    flex-direction: column;

}
.wrapper_header, .wrapper_menu, .item_menu, .title_site, .wrapper_content, .box_up, .content, .text, .wrapper_footer, .text_footer, footer, header{
    box-sizing: border-box;
}
header, footer{
    background-color: antiquewhite;
    padding: 20px;
   
}
.content{
    display: flex;
    margin: 10px;
    padding: 20px;
}
.wrapper_content{
    flex: 1 0 auto;
}
/* футер прибит*/
